
.layout-padding
    padding:15px;
 .fip
    padding:13px 0px;
.has-error
    border-bottom:1px solid red;
.errMsg
    font-size:11px;
    color:red;
#container {
    display: flex;          
    flex-direction: column;  
    justify-content: center; 
    align-items: center;    
    height: 500px;
}

.box {
    width: 500px;
    margin: 5px;
    text-align: center;    
}